In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import plotly.express as px
import plotly.graph_objects as go
import dash
from dash import dcc, html

In [2]:
df = pd.read_csv(r"E:\Unsupervised_model\train.csv")

In [3]:
print(df.head())

          id  vendor_id      pickup_datetime     dropoff_datetime  \
0  id2875421          2  2016-03-14 17:24:55  2016-03-14 17:32:30
1  id2377394          1  2016-06-12 00:43:35  2016-06-12 00:54:38
2  id3858529          2  2016-01-19 11:35:24  2016-01-19 12:10:48
3  id3504673          2  2016-04-06 19:32:31  2016-04-06 19:39:40
4  id2181028          2  2016-03-26 13:30:55  2016-03-26 13:38:10

   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -73.982155        40.767937         -73.964630
1                1        -73.980415        40.738564         -73.999481
2                1        -73.979027        40.763939         -74.005333
3                1        -74.010040        40.719971         -74.012268
4                1        -73.973053        40.793209         -73.972923

   dropoff_latitude store_and_fwd_flag  trip_duration
0         40.765602                  N            455
1         40.731152                  N            663
2         40.710087                  N           2124
3         40.706718                  N            429
4         40.782520                  N            435

In [4]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [5]:
df['hour'] = df['pickup_datetime'].dt.hour
df['day'] = df['pickup_datetime'].dt.dayofweek
df['month'] = df['pickup_datetime'].dt.month

In [6]:
df['store_and_fwd_flag'] = df['store_and_fwd_flag'].astype(str).str.strip().str.upper().map({'Y':1, 'N':0}).astype(int)

In [7]:
features = ['pickup_longitude','pickup_latitude',
            'dropoff_longitude','dropoff_latitude',
            'trip_duration','passenger_count',
            'vendor_id','store_and_fwd_flag',
            'hour','day','month']

In [8]:
X = df[features].dropna()

In [9]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
sil_scores = []
k_range = range(2, 10)
for k in k_range:
    kmeans = KMeans(n_clusters=k, random_state=42)
    labels = kmeans.fit_predict(X_scaled)
    sil_scores.append(silhouette_score(X_scaled, labels))

best_k = k_range[np.argmax(sil_scores)]
print("Optimal number of clusters:", best_k)

In [ ]:
kmeans = KMeans(n_clusters=best_k, random_state=42)
df['cluster'] = kmeans.fit_predict(X_scaled)

In [ ]:
cluster_summary = df.groupby('cluster')[['trip_duration','passenger_count','fare_amount','hour','day','month']].mean().reset_index()

In [ ]:
ddf.to_csv("r"E:\New folder\ML_Projects\train.csv"")