In [1]:
import pandas as pd

<h4>Readinig table from website using pandas.</h4>

In [7]:
url="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
tables=pd.read_html(url)
print(f"Number of tables found: {len(tables)}")
tables[0].head()

Number of tables found: 3

[                                Location  Population % of world         Date  \
 0                                  World  8232000000       100%  13 Jun 2025
 1                                  India  1417492000      17.3%   1 Jul 2025
 2                                  China  1408280000      17.2%  31 Dec 2024
 3                          United States   340110988       4.2%   1 Jul 2024
 4                              Indonesia   284438782       3.5%  30 Jun 2025
 ..                                   ...         ...        ...          ...
 237                   Niue (New Zealand)        1681         0%  11 Nov 2022
 238                Tokelau (New Zealand)        1647         0%   1 Jan 2019
 239                         Vatican City         882         0%  31 Dec 2024
 240  Cocos (Keeling) Islands (Australia)         593         0%  30 Jun 2020
 241                Pitcairn Islands (UK)          35         0%   1 Jul 2023

     Source (official or from the United Nations) Notes
 0                            UN projection[1][3]   NaN
 1                         Official projection[4]   [b]
 2                           Official estimate[5]   [c]
 3                           Official estimate[6]   [d]
 4                  National annual projection[7]   NaN
 ..                                           ...   ...
 237                             2022 Census[252]   NaN
 238                             2019 Census[253]   NaN
 239                         Official figure[254]  [ah]
 240                             2021 Census[255]   NaN
 241                       Official estimate[256]   NaN

 [242 rows x 6 columns],
      vteLists of countries by population statistics  \
 0                                            Global
 1                             Continents/subregions
 2                                  Intercontinental
 3                                Cities/urban areas
 4                                   Past and future
 5                                Population density
 6                                 Growth indicators
 7                                   Life expectancy
 8                                Other demographics
 9                                            Health
 10                         Education and innovation
 11                                         Economic
 12  List of international rankings Lists by country

      vteLists of countries by population statistics.1
 0   Current population United Nations Demographics...
 1   Africa Antarctica Asia Europe North America Ca...
 2   Americas Arab world Commonwealth of Nations Eu...
 3   World cities National capitals Megacities Mega...
 4   Past and future population Estimates of histor...
 5   Current density Past and future population den...
 6   Population growth rate Natural increase Net re...
 7   World Africa Asia Europe North America Oceania...
 8   Age at childbearing Age at first marriage Age ...
 9   Antidepressant consumption Antiviral medicatio...
 10  Bloomberg Innovation Index Education Index Glo...
 11  Access to financial services Development aid d...
 12    List of international rankings Lists by country  ,
                                             vteWorld  \
 0  AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua ...

                                           vteWorld.1
 0  AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua ...  ]

In [8]:
import requests

In [14]:
URL="https://www.worldometers.info/world-population"
headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; x64) AppleWebkit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36 "}
response=requests.get(URL,headers=headers)
response.raise_for_status()
tables=pd.read_html(response.text)
print(f"Tables in the web page are: {len(tables)}")
tables[0].head()"to_csv("World_Population.csv", index=False)"

Tables in the web page are: 5

C:\Users\hp\AppData\Local\Temp\ipykernel_10624\3191779321.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables=pd.read_html(response.text)

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/KmÂ²)
0,2025,8231613070,0.85%,69640498,30.9,2.24,55
1,2024,8161972572,0.87%,70237642,30.6,2.25,55
2,2023,8091734930,0.88%,70327738,30.4,2.25,54
3,2022,8021407192,0.84%,66958801,30.1,2.27,54
4,2021,7954448391,0.86%,67447099,29.8,2.29,53